body {
  background: #1A1A1A;
  font-family: "Passion One", sans-serif;
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #121212;
  height: 70px;
}

.navbar .form-control {
  background-color: #2c2c2c;
  border: none;
  color: white;
}

.form-control::placeholder {
  color: #aaa;
}

.navbar .icon-btn {
  background: #2c2c2c;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.search-wrapper {
  flex-grow: 1;
  max-width: 600px;
  border-radius: 30px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.search-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  flex: 1;
}


.landin {
  background-image: url(pics/ChatGPT\ Image\ Jul\ 2\,\ 2025\,\ 04_21_28\ PM.png);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}

.landin h1 {
  margin: 0;
  color: #10cab7;
  font-size: 50px;
  font-weight: bold;
}

.landin p {
  font-weight: bold;
  font-size: 20px;
  color: white;
}


.cardat .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card1 {
  direction: rtl;
  width: 250px;
  min-width: 140px;
  padding: 15px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2c2c2c;
}

.card1 h3 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.card1 p {
  color: #8f8e8e;
  text-align: center;
}

.card1:hover {
  background-color: #4e4e4e;
  border-radius: 6px;
}

.card1 img {
  border-radius: 6px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.bav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1db954;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card1:hover .bav {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05);
}

.bav:hover {
  transform: translate(-50%, -50%) scale(1.15);
}


.audio-player-container {
  background: #121212;
  padding: 20px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  border-top: 1px solid #333;
}

#globalPlayer {
  width: 100%;
  margin-top: 10px;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #444;
  cursor: pointer;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #1db954;
  width: 0%;
}


.song-title {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}


.volume-control {
  margin-top: 10px;
  text-align: center;
}